# Notebook related
notebook/
notebook_requirements.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml

# Misc
README.md
*.log
.DS_Store